#api-nav{
	background-color: #575757;
	border: none;
	border-radius: 0;
}

#api-nav h1{
	margin-left: 5%;
	color: #FFFFFF;
}

h1{
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 50px;

}
h2{
	font-size: 24px;
	font-family: 'Helvetica'	
}
h3{
	font-family: 'Helvetica';
	font-size: 18px;	
	font-weight: 100;
}

h4{
	font-family: 'Helvetica';
	font-size: 14px;
}

p{
	font-family: 'Helvetica';
	font-weight: 100;
	font-size: 13px;

}


code{
	margin-left: 0%;
	margin-right: 20%;
	font-size: 11px;
}

pre{
	margin-left: 0%;
	margin-right: 40%;
	font-size: 11px;
}
.container{
	margin-top: 2%;
}
footer{
	margin-left: 5%;
}