/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#map-canvas{
  height : 100%; width : 100%; top : 0; left : 0; position : absolute; z-index : -1;
}

h1{
  font-family: 'Lato';
  font-weight: 300;
}
h2{
  font-family: 'Lato';
  font-weight: 300; 
}
#main-nav{
  
  background-color:#000000; 
    opacity:.7; /* opacity is supported in most newer browsers only */
    -moz-opacity: 0.5; /* older mozilla browsers */
    filter: alpha(opacity=50); /* older ie browsers */
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  padding-left: 3%;
  margin-bottom: 0;
}

#wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  background-color:#000000; 
    opacity:.7; /* opacity is supported in most newer browsers only */
    -moz-opacity: 0.5; /* older mozilla browsers */
    filter: alpha(opacity=50); /* older ie browsers */
  margin-left: -250px;
  left: 250px;
  width: 400px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 90%;
  list-style: none;
  margin-left: 40px;
  margin-top: 40px;
}
hr{
  width: 60%;
}

li {
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Lato';
  font-weight: 300;

}

#arrivals{
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 300;
}

#num-arrivals{
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 300; 
  margin-left: 50%;
}